<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Member Join Page!</title>
</head>
<body>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          JOIN
        </div>
        <div class="card-body">
          <form id="registerForm" action="/member/join" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text">MID</span>
              <input type="text" name="mid" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">MPW</span>
              <input type="text" name="mpw" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">EMAIL</span>
              <input type="text" name="email" class="form-control">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>